/* global */

body{
    font-family: 'krub', sans-serif;
}

p{
    line-height: 2;
    font-size: 14px;
}

h1,h2,h3{
    text-align: center;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
    color: #03818a;
}

/* header */

header{
    background-image: url(440px.gif);
    color: rgb(80, 233, 20);
    background-repeat: none;
    height: 200px;
    width: 100%;
    text-align: center;

}

.icon{
    display: flex;
    align-items: center; /*vertical align */
    justify-content: space-evenly; /* horizontal align */

    width: 100px;
    height: 100px;
    background-color: #ffe187;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;


}

.icon i{
    font-size: 22px;
    color: #212121;
}


main{
    text-align: center;
}

main p{

    width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

/* menu */

.menu{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;

}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 26px;
    margin-right: 50px;

}

.menu a:hover{
    color: yellow;
/*font-size:28px :
background-colo: black:*/

}

/*  list */

ul, ol{
    
    list-style-image: url(icon.png);
    background-color: #212121;
    padding: 20px;
    color: white;
    width: 30%;
}

li{
    background-color: #949494;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

li:hover{
    background-color: #212121;
    color: #03818a;


}

/* buttonstyle */

.btn{
    background-color: #03818a;
    color: white;
    font-size: 18px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;

}

.btn a{
    color: white;
    text-decoration: none;
}

/*  presentation cardm */

.card{
    
    background-color: #e9f2f3;
    color: black;
    width: 40%;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    
}
.card p{
    font-size: 20px;
}

.main-contact{
    height: 60vh;
}

.main-skills{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}